ACTMAPI_BLOCK_URL=https://services1.arcgis.com/E5n4f1VY84i0xSjy/ArcGIS/rest/services/ACTGOV_BLOCKS/FeatureServer/0
ACTMAPI_DIVISION_URL=
ACTMAPI_ADDRESSES_URL=
NEXT_PUBLIC_MAP_TILE_URL=
NEXT_PUBLIC_MAP_TILE_ATTRIBUTION=
NEXT_PUBLIC_SATELLITE_TILE_URL=
NEXT_PUBLIC_SATELLITE_TILE_ATTRIBUTION=
